#job_detail .job-detail-container {
	display: flex;
	min-height: 100vh;
	padding: 20px 150px;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-family: Arial, sans-serif;
	background-color: #fff;
	gap: 40px;
}

#job_detail .tittle {
	font-size: 1.3em;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}

#job_detail .job-left-column {
	flex: 2;
}

#job_detail .job-right-column {
	flex: 1;
}

#job_detail pre {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

#job_detail .similar-jobs {
	margin-top: 20px;
}