#Shot-Detail {
	padding: 64px 120px;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
}

#Shot-Detail p {
	font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#Shot-Detail .shot-container {
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	width: 100%;
}

#Shot-Detail .shot-container .title-shot {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 25px;
}

#Shot-Detail .user-contact {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 48px;
}

#Shot-Detail .user-status {
	display: flex;
	align-items: center;
}

#Shot-Detail .user-status img {
	width: 48px;
	height: 48px;
	object-fit: cover;
	object-position: center;
	border-radius: 999px;
	margin-right: 15px;
}

#Shot-Detail .user-status .name {
	font-size: 14px;
	font-weight: 600;
}

#Shot-Detail .user-status .status {
	font-size: 14px;
	color: rgb(255, 35, 35);
}

#Shot-Detail .user-status .status.active {
	color: #4daa57;
}

#Shot-Detail .contact-btns {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 20px;
}

#Shot-Detail .contact-btns .button {
	border-radius: 999px;
	border: 1px solid rgb(231, 231, 233);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#Shot-Detail .contact-btns .button svg {
	color: (13, 12, 34);
	width: 16px;
	height: 16px;
}

#Shot-Detail .contact-btns .button.in-touch {
	width: fit-content;
	padding: 0 15px;
	color: white;
	background-color: #0d0c22;
	font-weight: 600;
	border: 1px solid #0d0c22;
}