#Shot-Detail {
	padding: 64px 120px;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
	height: inherit;
}

#Shot-Detail p,
#Shot-Detail a {
	font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#Shot-Detail .shot-container {
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	width: 100%;
}

#Shot-Detail .shot-container .title-shot {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 25px;
}

#Shot-Detail .user-contact {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 48px;
}

#Shot-Detail .user-status {
	display: flex;
	align-items: center;
}

#Shot-Detail .user-status img {
	width: 48px;
	height: 48px;
	object-fit: cover;
	object-position: center;
	border-radius: 999px;
	margin-right: 15px;
}

#Shot-Detail .user-status .name {
	font-size: 14px;
	font-weight: 600;
}

#Shot-Detail .user-status .status {
	font-size: 14px;
	color: rgb(255, 35, 35);
}

#Shot-Detail .user-status .status.active {
	color: #4daa57;
}

#Shot-Detail .contact-btns {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 20px;
}

#Shot-Detail .button {
	border-radius: 999px;
	border: 1px solid rgb(231, 231, 233);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#Shot-Detail .contact-btns .button svg {
	color: (13, 12, 34);
	width: 16px;
	height: 16px;
}

#Shot-Detail .button.in-touch {
	width: fit-content;
	padding: 0 15px;
	color: white;
	background-color: #0d0c22;
	font-weight: 600;
	border: 1px solid #0d0c22;
	font-size: 13px;
}

#Shot-Detail .content-block {
	padding: 48px 0;
	display: grid;
	place-content: center;
}

#Shot-Detail .content-block.first {
	padding-top: 30px;
}


#Shot-Detail .content-block .text-block {
	width: 752px;
}

#Shot-Detail .content-block .text-block h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
}

#Shot-Detail .content-block .text-block p {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}

#Shot-Detail .content-block img {
	border-radius: 10px;
}

#Shot-Detail .shot-content {
	margin-bottom: 110px;
}

#Shot-Detail .user-endtouch {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 64px;
}

#Shot-Detail .user-endtouch .user-icon-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	margin-bottom: 20px;
}

#Shot-Detail .user-endtouch .user-icon {
	padding: 0 24px;
	height: 72px;
	background-color: white;
	z-index: 1;
}

#Shot-Detail .user-endtouch .user-icon-container::before {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	content: '';
	background-color: #dddddf;
}

#Shot-Detail .user-endtouch .user-icon img {
	width: 72px;
	height: 72px;
	border-radius: 999px;
	object-fit: cover;
	object-position: center;
}

#Shot-Detail .user-endtouch .username {
	font-size: 20px;
	font-weight: 500;
	line-height: 29px;
	margin-top: 16px;
	color: #0d0c22;
	margin-bottom: 10px;
	margin-top: 0;
}

#Shot-Detail .user-endtouch .slogan {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	max-width: 400px;
	color: #3d3d4e;
	text-align: center;
	margin-bottom: 20px;
}

#Shot-Detail .more-by-user {
	width: 100%;
	margin-bottom: 200px;
}

#Shot-Detail .more-by-user .title-profile {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#Shot-Detail .more-by-user .title-profile .title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

#Shot-Detail .more-by-user .title-profile .profile {
	font-size: 16px;
	transition: all 0.3s ease;
}

#Shot-Detail .more-by-user .title-profile .profile:hover {
	color: #3d3d4e;
}