#post-manage {
	min-height: 100vh;
	background-color: #f2f7fa;
}


#post-manage p {
	margin: 0;
}

#post-manage .manage-container {
	padding: 50px 0;
	width: 90%;
	max-width: 1500px;
	margin: 0 auto 0 auto;
	font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#post-manage .manage-container .title-container {
	margin-bottom: 15px;
}

#post-manage .manage-container .title-container .title {
	font-size: 24px;
	font-weight: 700;
}

#post-manage .manage-container .status-counting {
	display: flex;
	gap: 15px;
}

#post-manage .manage-container .status-counting .status {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-bottom: 25px;
}

#post-manage .manage-container .status-counting .status svg {
	width: 20px;
	height: 20px;
}

#post-manage .manage-container .status-counting .status.open svg {
	color: #9bbe7f;
}

#post-manage .manage-container .status-counting .status.close svg {
	color: #b4431e;
}

#post-manage .manage-container .action-bar {
	display: flex;
	gap: 12px;
	margin-bottom: 25px;
}

#post-manage .manage-container .action-bar input[type="text"] {
	all: unset;
}

#post-manage .manage-container .action-bar .search-bar {
	display: flex;
	align-items: center;
	height: fit-content;
	padding: 3px 6px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid rgb(194, 194, 194);
}

#post-manage .manage-container .action-bar .search-bar svg {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#post-manage .manage-container .action-bar .search-bar input {
	width: 200px;
}

#post-manage .manage-container .action-bar .dropdown-bar {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 10px;
	background-color: #e7edef;
	border: 1px solid rgb(240, 240, 240);
	border-radius: 5px;
}

#post-manage .manage-container .action-bar .dropdown-bar .options {
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	width: 100%;
	padding: 2px 10px;
	box-sizing: border-box;
	background-color: #e7edef;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 1px rgb(247, 247, 247);
}

#post-manage .manage-container .action-bar .dropdown-bar .title {
	font-size: 14px;
	margin: 0 10px;
}

#post-manage .manage-container .action-bar .dropdown-bar .icon {
	height: 20px;
	width: 20px;
}

#post-manage .manage-container .action-bar .dropdown-bar .icon svg {
	height: 100%;
	width: 100%;
	color: #8f97a0;
}

#post-manage .manage-container .action-bar .dropdown-bar .btn-dropdown {
	background-color: white;
	border: 1px solid rgb(212, 212, 212);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	cursor: pointer;
}

#post-manage .manage-container .action-bar .dropdown-bar .btn-dropdown svg {
	width: 20px;
	height: 20px;
}

#post-manage .manage-container .action-bar .dropdown-bar .option {
	display: flex;
	align-items: center;
	padding: 5px 0px;
	border-bottom: 1px solid #c2c2c2;
}

#post-manage .manage-container .action-bar .dropdown-bar .option input {
	margin-right: 5px;
}

#post-manage .manage-container .action-bar .dropdown-bar .option.last {
	border-bottom: none;
}

#post-manage .jobs-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

#post-manage .jobs-container .job-card {
	background-color: white;
	border-radius: 15px;
	border: 1px solid rgb(219, 219, 219);
	padding: 20px;
}

#post-manage .jobs-container .job-card .status-edit-btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}


#post-manage .jobs-container .job-card .status-edit-btn .status-type {
	display: flex;
	align-items: center;
}

#post-manage .jobs-container .job-card .status-edit-btn .status-type .status {
	padding: 3px 5px;
	display: flex;
	align-items: center;
	border-radius: 999px;
	color: white;
	margin-right: 20px;
	position: relative;
}

#post-manage .jobs-container .job-card .status-edit-btn .status-type .status:focus {
	outline: none;
}

#post-manage .jobs-container .job-card .status-edit-btn .status-type .status option {
	background-color: white;
	color: black;
}

/* #post-manage .jobs-container .job-card .status-edit-btn .status-type .status::before {
	content: '';
	height: 90%;
	width: 1px;
	right: -10px;
	background-color: rgb(216, 216, 216);
	position: absolute;
}

#post-manage .jobs-container .job-card .status-edit-btn .status-type .status span {
	margin-right: 7px;
	font-size: 13px;
}

#post-manage .jobs-container .job-card .status-edit-btn .status-type .status svg {
	width: 15px;
	height: 15px;
} */

#post-manage .jobs-container .job-card .status-edit-btn .status-type .type {
	color: rgb(153, 153, 153);
}

#post-manage .jobs-container .job-card .status-edit-btn .edit svg {
	color: rgb(153, 153, 153);
	cursor: pointer;
}

#post-manage .jobs-container .job-card .title-job-container .title {
	font-size: 20px;
	font-weight: 700;
}

#post-manage .jobs-container .job-card .title-job-container {
	margin-bottom: 5px;
}

#post-manage .jobs-container .job-card .tags {
	display: flex;
}

#post-manage .jobs-container .job-card .tags .tag {
	display: flex;
	align-items: center;
	position: relative;
	font-size: 14px;
}

#post-manage .jobs-container .job-card .tags .tag svg {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

#post-manage .jobs-container .job-card .counting-container {
	display: flex;
	padding: 20px 0;
	background-color: #f2f7fa;
	border: 1px solid #eceeef;
	border-radius: 8px;
	margin: 30px 0;
}

#post-manage .jobs-container .job-card .counting-container .box {
	flex: 1;
	padding: 0 15px;
	box-sizing: border-box;
}

#post-manage .jobs-container .job-card .counting-container .box .count {
	font-size: 20px;
	font-weight: 700;
}

#post-manage .jobs-container .job-card .counting-container .box .title {
	font-size: 14px;
	color: #8f97a0;
}

#post-manage .jobs-container .job-card .counting-container .box.applied {
	border-right: 1px solid rgb(192, 192, 192);
}

#post-manage .jobs-container .job-card .time-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

#post-manage .jobs-container .job-card .duration-time {
	display: flex;
	align-items: center;
}

#post-manage .jobs-container .job-card .duration-time svg {
	width: 16px;
	height: 16px;
}

#post-manage .jobs-container .job-card .duration-time .date {
	margin-right: 5px;
}

#post-manage .jobs-container .job-card .duration-time span {
	font-size: 14px;
}

#post-manage .jobs-container .job-card .time-container .time-left span {
	font-weight: 700;
	font-size: 14px;
}

#post-manage .jobs-container .detail-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#post-manage .jobs-container .detail-container .detail {
	margin: 15px 0 0 0;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	color: #8f97a0;
}

#post-manage .jobs-container .detail-container .detail span {
	text-decoration: underline;
	margin-right: 5px;
}

#post-manage .jobs-container .detail-container .detail svg {
	width: 12px;
	height: 12px;
}
