#check-out {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
}

#check-out span,
#check-out p {
	font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#check-out .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(26, 26, 26, 0.404);
	display: flex;
	align-items: center;
	justify-content: center;
}

#check-out .background-form {
	width: 80%;
	max-width: 700px;
	height: auto;
	background-color: #fff9fc;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#check-out .title-select-method {
	display: flex;
	justify-content: space-between;
}

#check-out .title-select-method .title {
	font-size: 20px;
}

#check-out .tab-container {
	display: flex;
	width: fit-content;
	padding: 4px;
	background-color: #f8f8f8;
	border-radius: 10px;
}

#check-out .tab-button {
	padding: 4px 8px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	background-color: transparent;
	width: fit-content;
	border-radius: 8px;
	color: #878787;
}

#check-out .tab-button.active {
	background: white;
	color: black;
	font-weight: 500;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.185);
}

#check-out .card-input-container {
	display: flex;
	gap: 30px;
	margin-top: 50px;
}

#check-out .card-input-container .rccs {
	margin: 0;
}

#check-out .card-container {
	margin-top: 20px;
}

#check-out .credit-card-info--form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#check-out .input_label {
	font-size: 12px;
	color: #8b8e98;
	font-weight: 600;
}

#check-out .input_container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#check-out .split {
	display: grid;
	grid-template-columns: 4fr 2fr;
	gap: 15px;
}

#check-out .input_field {
	width: auto;
	height: 40px;
	padding: 0 0 0 16px;
	border-radius: 9px;
	outline: none;
	background-color: #f2f2f2;
	border: 1px solid #e5e5e500;
	transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}


#check-out .input_field:focus {
	border: 1px solid transparent;
	box-shadow: 0px 0px 0px 1px #242424;
	background-color: transparent;
}

#check-out .input_field::-webkit-outer-spin-button,
#check-out .input_field::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#check-out .input_field[type="number"] {
	-moz-appearance: textfield;
}

#check-out .price-container {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

#check-out .price-container .title {
	color: #8b8e98;
	font-size: 12px;
}

#check-out .price-container .price-num {
	font-weight: 600;
	font-size: 20px;
}

#check-out .payment-btn {
	font-size: 17px;
	padding: 0.5em 2em;
	border: transparent;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	background: dodgerblue;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 30px;
}

#check-out .payment-btn:hover {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(30, 144, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

#check-out .payment-btn:active {
	transform: translate(0em, 0.2em);
}

#check-out .qr-container {
	display: flex;
	gap: 20px;
	margin: 76px 0;
}

#check-out .image-container {
	width: 50%;
	display: flex;
	justify-content: center;
}

#check-out img {
	width: 80%;
}

#check-out .info-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#check-out .info-container .block-info {
	margin-bottom: 8px;
}

#check-out .info-container .block-info .title {
	color: #797979;
}

#check-out .info-container .block-info .data {
	font-weight: 600;
	line-height: 1;
}

#check-out .info-container .block-info.bank {
	display: flex;
}

#check-out .info-container .block-info.bank img {
	width: 40px;
	height: 40px;
	border-radius: 999px;
	margin-right: 10px;
	border: 1px solid rgb(228, 228, 228);
	margin-bottom: 15px;
}

#check-out .image-congrate-container {
	width: 100%;
	height: 220px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#check-out .image-congrate-container .check-container {
	width: 160px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border-radius: 999px;
	background-color: white;
	border: 1px solid rgb(235, 235, 235);
}

#check-out .image-congrate-container .check-container svg {
	width: 120px;
	height: 120px;
	color: #80dc9d;
}

#check-out .image-congrate-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

#check-out .success-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#check-out .success-form .title {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 15px;
}

#check-out .success-form .des {
	font-size: 14px;
	color: #54525c;
	margin-bottom: 100px;
}

#check-out .success-form .back {
	width: 60%;
	padding: 20px 0;
	color: white;
	background-color: var(--color-banner);
	border: 1px solid rgb(224, 224, 224);
	border-radius: 999px;
	font-size: 16px;
	margin-bottom: 30px;
	cursor: pointer;
}