#tag {
    padding: 5px 15px;
    background-color: #fff5ff;
    margin: 3px;
    box-sizing: border-box;
    border: 1px solid #d4d4d4,;
    border-radius: 20px;
    cursor: pointer;
}

#tag:hover {
    background-color: #eee;
}